.profile {
    margin: 42px auto 0;
    max-width: 880px;
    width: calc(100% - 60px);
    min-height: 120px;
    display: grid;
    grid-template-columns: 150px 336px minmax(150px, 1fr);
    grid-template-rows: 120px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .profile {
        min-height: 216px;
        grid-template-columns: 150px 336px;
        grid-template-rows: 120px 60px;
        row-gap: 36px;
    }
}


@media screen and (max-width: 530px) {
    .profile {
        width: 100%;
        grid-template-columns: 282px;
        grid-template-rows: 120px 54px 60px;
        row-gap: 26px;
    }
}