.profile {
    margin: 40px auto 0;
    max-width: 880px;
    width: 100%;
    min-height: 120px;
    display: grid;
    grid-template-columns: 150px 336px minmax(150px, 1fr);
    grid-template-rows: 120px;
    justify-content: center;
}