.footer {
    max-width: 880px;
    width: 100%;
    min-height: 18px;
    margin: 66px auto 60px;
    text-align: start;
}

@media screen and (max-width: 930px) {
    .footer {
        max-width: calc(100% - 60px);
    }
}

@media screen and (max-width: 530px) {
    .footer {
        max-width: 282px;
        margin: 48px auto 36px;
    }
}