.popup__container_type_view-pic {
    width: max-content;
    max-width: 75vw;
    max-height: 75vh;
    background: none;
    color: white;
    padding: 0;
    box-shadow: none;
}

@media screen and (max-width: 530px) {
    .popup__container_type_view-pic {
        min-width: 240px;
    }
}